.fonts-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style */

main > section{
    max-width: 1200px;
    margin: 0 auto;
}

.bg-color{
    background-color: #1A0B2E;
}

#gradient{
    background: linear-gradient(180deg,
        rgba(145, 0, 248, 1), 
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}

.baground-color{
    background:linear-gradient(to bottom left, rgba(145, 0, 248, 1),
    rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));

}

/* nav-bar style */


.nav-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 200px;
}


.nav-logo{
    color: #FFFFFF;
}

.menu{
    justify-content: center;
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center; 

}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}

.primary-btn{
        color: #FFFFFF;
        border: none;
        border-radius: 40px;
        padding: 12px 40px ;
        font-size: 1rem;
        font-weight: 600;
        margin: 24px;
        cursor: pointer;

}
.logo-menu{
    display: none;
}

/* banner section style */
.banner{
    background: url(/assets/hero-bg.png);
}

.banner-img{
    text-align: center;
    height: 400px;
    margin: 101px 525px;
    position: relative;
}


.box{
    position: absolute;
    left: 100px;
    top: 80px;
}

.mic{
   
    position: absolute;
    left: 220px;
    top: 155px;  
    
}


.badge{
    position: absolute;
    left: 355px;
    top: 60px; 
 
}
.badge-new{
    width:75px;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 136, 1);

}
.banner-title{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 4rem;
    
}
.banner-description{
    display: block;
    text-align: center;
    padding-bottom: 100px;
}

/* style about section */


.about-container{
    margin: 50px 200px 120px 200px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    
}
#spotify-btn{
    color: #FFFFFF;
    border-radius: 30px;
    
}
#msg-btn{
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: #00ff8800;
    color: #00FF88;  
    
}
.btn{
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-img{
   margin-right: 5px;  
}


.about-title, .host-title{
    
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}
.container-description{
    font-size: 1rem;
    color:#FFFFFF;
    line-height: 20px;
    opacity: 60%;    
}

hr{
    color:gainsboro;
    opacity: 0.1;
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:80px;
}
.item{
    font-size: 3rem;
    color: #00FF88;
    margin: 0;
}

.item-description{
    text-align: center;
    color:#ffffffd7;
    font-weight: 100;
    
}

/* style Choose section */

.bg-purple-zone {
  background-color: #230E3D;
  width: 100%;
}

.choose-container{
    padding-top: 50px;
    padding-bottom: 120px;
    margin: 120px 200px;
    text-align: center;
    
}
.choose-card{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    text-align: start;
    
   
}

.card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;

}
.card-title{
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: bold;
}
.card-description, .logo-name, .copy-right, .banner-pera{
    font-size: 1rem;
    opacity: 60%;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: 400;
}

.card-1{
    grid-row: span 2;
    padding-top: 100px;
    
    
}
.card-2, .card-3{
    grid-column: span 2;
}
.card-4{
    grid-column: span 2;
}
.episode-title, .host-title{
    text-align: center;
}

/* Episode section  */

.episode-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
}
.episode{
    
    width: 100%;
    max-width: 380px;
    
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    padding-bottom: 24px;
}
.video-wrapper {
    width: 100%;
    max-width: 380px;   
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    
    border: none;
    border-top-right-radius:30px ;
    border-top-left-radius: 30px;
}
.episode-description{
    padding: 24px;
    
}
.video-length{
    display: flex;
    align-items: center;
}
.time{
    color: #00FF88;
    margin-left: 6px;
}


/* style host section */
    .host-container{
        display: flex;
        background-color: #230E3D;
        border-radius: 40px;
        gap: 24px;
        padding: 40px;
        justify-content: center;
        
    }

    .host-name{
        color: #FFFFFF;
        font-size: 2rem;
        margin-bottom: 16px;
        margin-top: 0;
    }

    .logo{
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .logo-circle{
        border: 1px solid gray;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;              
        align-items: center;       
        justify-content: center;
        
    }
@media screen and (max-width:576px) {

    html, body {
    overflow-x: hidden;
    }

    main > section{
    max-width: 440px;
    margin: 0 auto;
    }
    .menu, .primary-btn{
        display: none;    
    }

    .nav-container{
        padding: 16px 20px;
    }
    .logo-menu{
        display:block;
        padding-top: 30px;
        padding-right: 20px;

    }

    /* banner section */
    .banner {
        margin: 40px 20px;
        background-image: url("/assets/hero-bg.png");
        background-repeat: no-repeat;
        background-size: 500px;
        background-position: right top;

    }
    .banner-img {
        height: 220px;
        width: 100%;
        position: relative;
        margin: 0;
    }
    .box img {
        width: 110px;
    }
    .mic img{
        width: 50px;
    }
    .box {
        position: absolute;
        left: 180px;
        top: 80px;
        transform: translate(-50%, -50%);
    }
        .mic {
        position: absolute;
        left: 180px;
        top: 80px;
        transform: translate(-50%, -50%);
    }
    .badge {
        position: absolute;
        left: 240px;
        top: 10px;
        transform: translateX(-50%);
    }
    .badge-new{
        width:20px;
        padding: 8px 16px;
        background-color: #00FF88;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 255, 136, 1);
    }
    .banner-title {
        font-size: 1.5rem;
    }


    /* about section */
    .about-container{
    margin: 40px 20px;
    }
   
    .about-title{
        font-size: 2rem;
    }
    .about-item{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    hr{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* choose section */

    .choose-container{
        padding-top: 5px;
        padding-bottom: 40px;
        margin: 40px 20px;
        text-align: center;    
    }
    .choose-card{
            grid-template-columns: 1fr;
            gap: 16px;
        }
    .card{
        padding: 24px;
    }
    .card-title{
        font-size: 1.1rem;
    }
    .card-1, .card-2, .card-3, .card-4, .card-5{
        grid-row: span 1;
        grid-column: span 1;
    }

    /* episode section */

    .episode-sec{
        max-width: 440px;
        width: 100%;
    }
    .episode-container{
        
        margin:40px 20px 60px 20px ;
        flex-direction: column;

    }
}