.fonts-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style */

main > section{
    max-width: 1200px;
    margin: 0 auto;
}

.bg-color{
    background-color: #1A0B2E;
}

#gradient{
    background: linear-gradient(180deg,
        rgba(145, 0, 248, 1), 
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}

.baground-color{
    background:linear-gradient(to bottom left, rgba(145, 0, 248, 1),
    rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));

}

/* nav-bar style */


.nav-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 200px;
}


.nav-logo{
    color: #FFFFFF;
}

.menu{
    justify-content: center;
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center; 

}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}

.primary-btn{
        color: #FFFFFF;
        border: none;
        border-radius: 40px;
        padding: 12px 40px ;
        font-size: 1rem;
        font-weight: 600;
        margin: 24px;
        cursor: pointer;

}
.logo-menu{
    display: none;
}

/* banner section style */
.banner{
    background: url(/assets/hero-bg.png);
}

.banner-img{
    text-align: center;
    height: 400px;
    margin: 101px 525px;
    position: relative;
}


.box{
    position: absolute;
    left: 100px;
    top: 80px;
}

.mic{
   
    position: absolute;
    left: 220px;
    top: 155px;  
    
}


.badge{
    position: absolute;
    left: 355px;
    top: 60px; 
 
}
.badge-new{
    width:75px;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 136, 1);

}
.banner-title{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 4rem;
    
}
.banner-description{
    display: block;
    text-align: center;
    padding-bottom: 100px;
}
